<form action='/recipes' method="POST">

  Recipe: <input id="name" type="text" name="recipe[name]" /><br>
  Ingredients: <input id="ingredients" type="text" name="recipe[ingredients]" /><br>
  Cook time: <input id="cook_time" type="integer" name="recipe[cook_time]" /><br>
  <button type="submit" value="submit">Submit</button>

</form>
