<form action="/recipes" method="post">
    <input id="name" type="text" name="params[name]"/><br>
    <input id="ingredients" type="text" name="params[ingredients]"/><br>
    <input id="cook_time" type="text" name="params[cook_time]"/><br>

    <input type="submit" value="submit"/>
</form>